body{
	font-family:Arial;
	font-size:14px;
	background-color:#CDCDCD;
}
div#caracteristicas{
	width:800px;
	background-color:#FFFFFF;
	margin:0px auto 0px auto;
	padding:25px 60px 25px 60px;
}
div#div1{
	Position:relative;
	border:2px solid black;
	padding:6px;
	text-align:left;
	widht:350px;
	height:300px;
	margin-bottom:20px;
}
div#div2{
	position:relative;
	border:2px solid black;
	padding:6px;
	text-align:left;
	widht:350px;
	height:475px;
	margin-bottom:20px;
}
div#div3{
	position:relative;
	border:2px solid black;
	padding:6px;
	text-align:left;
	widht:350px;
	height:370px;
	margin-bottom:30px;
}
div#col1{
	float:left;
	padding:7px;
}
div#col2{
	float:left;
	padding:7px;
}
div#col3{
	float:left;
	padding:7px;
}
#titulo{
	font-size:15pt;
	border-bottom:10px #DCDCDC solid;
}
div#logo{
	position:relative;
	right:135px;
	top:24px;
	float:right;
	color:red;
	font-size:42pt;
}
div#logo2{
	position:relative;
	right:-670px;
	top:20px;
    font-size:14pt;
	border:2px solid transparent;
}
div#informacoes{
	padding:1px;
	border:10px;
	background-color:#DCDCDC;
	margin:4px;
}
input, textarea{
	border:none;
	background-color:#F0F8FF;
}